@import "tailwindcss";

@font-face {
  font-family: 'EulerFlex';
  src: url(./assets/euclid-flex/EuclidFlexRegular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EulerFlexBold';
  src: url(./assets/euclid-flex/EuclidCircularABold.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'EulerFlex', sans-serif;
}

:root {
    --main-heading-font: NewParisText;
    --main-headline-font: NewParis-headline;
    --main-body-font: EuclidFlex;
    --main-body-font-bold: EuclidFlexBold;
    --main-body-font-med: EuclidFlexMed;
    --main-body-Butler-Med: ButlerMedium;
    --base-font-size: 14px;
    --bulter-font-bold: Butler-bold;
    --bulter-font-regular: Butler-regular;
}


.pagination-element {
  display: flex;
  cursor:pointer;
  font-size: 16px;
  border-bottom: 1px solid #6a6a6a;
}

.page-link {
  display: flex;
  color: #6A6A6A;
  padding: 16px 28px;
  font-size: 12px;
  width: 100%;
}

.page-item.disabled {
  cursor:not-allowed;
}

.page-item.active {
  cursor:not-allowed;
  color: #1C1B1B;
  border-bottom: 4px solid #1C1B1B;
}
